 h1 {
  text-align:center ;
  padding:120px 120px 5px 120px;
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-bottom: 3px solid white;
 
}
hr {
  
  height: 5px;
  background-color: white;
  width: 100%;
  border: none;
 }

form {
  text-align:center ;
  padding:20px ;  
}

